---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>dedicatória</h1>
      <p>Dedico esta história em quadrinhos</p>
      <p>à memória do meu avô, Miguel Arraes de Alencar,</p>
      <p>do meu tio, Gusto Arraes,</p>
      <p>do meu primo, Eduardo Campos,</p>
      <p>e da minha avó, Magdalena Arraes</p>
      <p></p>
      <h1>agradecimentos</h1>

      <p>
        Nena Arraes, Décio Valença, Daniel Valença, Bernardo Valença, Laura de
        Araújo, Oto Macabeu, Lígia Lima, os tios Zé Almino, Ana Arraes, Guel
        Arraes, Maurício Arraes, Marcos Arraes, Lula Arraes, Mariana Arraes,
        Pedro Arraes, os primos do lado Arraes – especialmente Júlia Arraes, que
        leu e comentou, e Luisa Arraes, com quem discuti aspectos narrativos –,
        os amigos Celso Hartkopf, Cecília Moraes, Daniel Longhi, Guilherme
        Benzaquen, Isabella Aragão, Laura Morgado, Leo Ferrario, Mateus Felipe,
        Rafaela Cruz, Raul Souza, Paula Antunes, Pedro Dantas, Raul Souza,
        Silvio Barreto Campelo e Thaís Vidal (que não sabe, mas foi de quem
        peguei emprestado o sobrenome dos protagonistas).
      </p>
      <!-- <Footer /> -->
    </main>
  </body>
</html>
