---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>referências</h1>
      <p>
        Esta HQ usou um manancial de referências bibliográficas e visuais,
        cozidas no caldo pegajoso da minha imaginação. Algumas estão mais
        explícitas do que outras. Abaixo, cito o que consigo lembrar:
      </p>

      <ul>
        <li>
          <strong
            >IBAD Interferência do Capital Estrangeiro nas Eleições do Brasil</strong
          >, 5º Caderno da Memória e Verdade;
        </li>
        <li>
          <strong
            >Resistência no exílio: Miguel Arraes e a Frente Brasileira de
            Informações</strong
          >, livro de Greyce Falcão do Nascimento;
        </li>
        <li>
          <strong>
            <a
              href="https://www.scielo.br/j/vh/a/d7mkgTzRpmkdYfgh4TrdBxq/?lang=pt"
              >Meu pai não parava um dia de trabalhar... E de fazer política</a
            ></strong
          >, artigo de Débora Strieder Kreuz;
        </li>
        <li><strong>Arraes</strong>, livro de Tereza Rozowykwiat;</li>
        <li>
          <strong
            ><a
              href="https://revistacontinente.com.br/secoes/artigo/parte-de-servico"
              >Parte de serviço</a
            ></strong
          >, crônica de Zé Almino publicada na Revista Continente;
        </li>
        <li>
          <strong>Tempo: O de dentro e o de fora</strong>, livro de Luiz Arraes;
        </li>
        <li><strong>Bhagavad Gita</strong> e a <strong>Bíblia</strong>;</li>
        <li>
          <strong>Pai nosso</strong>, de Nicanor Parra, contido no livro <em
            >Acho que vou morrer de poesia</em
          >, citado ipsis litteris no primeiro capítulo desta HQ;
        </li>
        <li>
          <strong>Sentimento do mundo</strong>, poema de Carlos Drummond de
          Andrade contido no livro homônimo;
        </li>
        <li>
          <strong>Canto do homem marcado</strong>, poema de Joaquim Cardozo,
          contido no livro <em>Signo</em>;
        </li>
        <li>
          <strong>
            <a
              href="https://memorialdademocracia.com.br/ajax_audio_extra_item/906"
              >Volta Arraes ao Palácio das Princesas / Vai entrar pela porta que
              saiu</a
            ></strong
          >, mote de Zeto do Pajeú, cantado durante a posse do segundo mandato
          de Miguel Arraes, redefinido como “Volta o povo ao Palácio das
          Princesas…” por seu filho, Antônio Marinho, na posse do primeiro
          mandato de Eduardo Campos em 2007. Esta foi a versão resgatada para
          esta HQ;
        </li>
        <li>
          <strong>Tô voltando</strong>, música de Paulo César Pinheiro e
          Maurício Tapajós, <a
            href="https://soundcloud.com/eleicoes-jingles/jingle-miguel-arraes-1986-ele-ta-voltando"
            >parodiada na campanha de Miguel Arraes em 1986</a
          > e re-parodiada aqui;
        </li>
        <li>
          <strong>Cordilheiras no Mar: A Fúria do Fogo Bárbaro</strong>, filme
          de Geneton Moraes Neto;
        </li>
        <li>
          Fotos de <strong
            >Alberto Ferreira, Carlos Namba, Beto Figueiroa</strong
          > e outros fotógrafos de agências e jornais não-identificados na pesquisa;
        </li>
        <li>
          Arquivo textual, visual, audiofônico e/ou audiovisual de <strong
            >Diario de Pernambuco, <a
              href="https://memorialdademocracia.com.br/card/arraes-parte-para-o-exilio-na-argelia"
              >Memorial da Democracia</a
            >, Fundação João Mangabeira, Partido Socialista Brasileiro, Rede
            Globo</strong
          > e <strong>
            <a
              href="https://www.flickr.com/photos/121351248@N03/albums/72157642896686323/"
              >Instituto Miguel Arraes</a
            ></strong
          >;
        </li>
        <li>Fotos, vídeos e relatos orais de familiares e amigos.</li>
      </ul>
      <Footer />
    </main>
  </body>
</html>
