---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="HQ" description={SITE_DESCRIPTION} />
    <style>
      .comic-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        justify-items: center;
        margin: 2rem 0;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
      .comic-version {
        text-align: center;
      }
      .comic-version img {
        max-width: 100%;
        height: auto;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;
      }
      .comic-version img:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      }
      @media (max-width: 768px) {
        .comic-container {
          grid-template-columns: 1fr;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <div class="comic-container">
        <div class="comic-version">
          <a href="/viewer2.html" target="_blank">
            <img src="/comics/capa_bv.jpg" alt="Comic Preview" />
            <h3>baixa visão</h3>
          </a>
        </div>
        <div class="comic-version">
          <a href="/viewer.html" target="_blank">
            <img src="/comics/capa.jpg" alt="Comic Preview" />
            <h3>original</h3>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
