---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>prefácio</h1>
      <img src="/andre_vovo.jpeg" />
      <p>
        Como muitos, minha história começou antes mesmo de eu nascer. Talvez
        diferente de alguns, ela pula uma geração para trás e solenemente
        dispensa o marco fundador mais tradicional, a união entre pai e mãe. Ela
        tem início no dia da mentira do ano de 1964, na Praça da República da
        cidade do Recife. Meu avô, governador de Pernambuco à época, diante de
        investida militar, se deparava com duas alternativas: ou aderia ao
        regime, ou era preso.
      </p>

      <p>
        Não se trata de uma bifurcação trivial, das incontáveis que a vida
        impõe, cuja decisão atropela futuros possíveis em direção a um presente
        concreto. Está mais para a dúvida entre subir uma montanha e descer um
        vale, e, por fim, construir ali um tempo que nem figurava na trama. A
        escolha de vovô, a única entre as duas com virtude, é notória.
      </p>

      <p>
        No entanto, ao exercer seu arbítrio, inaugurou um vórtex perpétuo de
        conduta e moralidade que, desde então, suga os vetores tanto de seus
        antepassados quanto de seus descendentes. Como resultado, todo passo que
        dou sofre um desvio de trajetória, uma puxadinha para trás. É uma força
        imanente, e o mais próximo que já tive de uma experiência espiritual.
      </p>

      <p>Eis o nó.</p>

      <p>
        A armadilha familiar, sentimental, religiosa e política está posta.
        Temos sempre que sacudir da cabeça o impulso de canonizar. Ao conduzir
        certas mudanças sociais, vovô abriu margem a comparações proféticas; ao
        optar pela prisão, criou a imagem do calvário; ao ser exilado com
        promessa de retorno, evocou o sebastianismo. Fez-se um simulacro de
        sacralidade, proposital ou inadvertidamente.
      </p>

      <p>
        Desde sempre, este quadrinho foi pensado para refletir esse dilema. A
        corda bamba entre a tendência - bem brasileira - de mitificar, e a
        consciência inescapável da corporeidade. É um trabalho que tem
        dificuldade de se comprometer com uma visão; assim como seu autor. Quem
        convive comigo, sabe que minha tendência maior é não querer desagradar.
        E quem é bom entendedor também sabe que essa é a forma mais fácil de
        agradar, particularmente, ninguém.
      </p>

      <p>
        Bem diluídos na ficção, os pouquíssimos aspectos da intimidade familiar
        aludidos já correm o risco da desaprovação por parentes, embora sejam
        muito escassos para os olhares voyeurísticos. A menção ao caráter
        centralizador de vovô pode desgostar seus partidários, ou ser
        insuficiente a seus detratores. Certamente, há aqui também uma parcela
        de deslumbramento com seu projeto político, o que não deve descer bem ao
        público engajado e de senso crítico mais afiado (a HQ se concentra mais
        nos dramas burgueses dos personagens do que na participação popular, por
        exemplo, embora ela seja sempre evocada, como algo abstrato). Outrossim,
        fiéis dificilmente se encontrarão nas representações de suas crenças, ao
        mesmo tempo em que ateus devem revirar os olhos para o aspecto místico
        da trama.
      </p>

      <p>
        Ou não. Este prefácio talvez seja só uma blindagem a reações negativas;
        ou, pior ainda, à indiferença.
      </p>

      <p>
        Vale pontuar novamente que tudo aqui é um exercício ficcional. Embora
        haja traços que espelham a realidade, estão mais contidos no pano de
        fundo da narrativa do que nos personagens e situações. Ainda que falha,
        a melhor comparação um-para-um possível é entre a vida pública de Miguel
        Arraes e a de Joaquim Vidal, e ainda sim existem afastamentos
        históricos, políticos, religiosos e filosóficos, os quais ficam mais
        claros com o passar dos quadros.
      </p>

      <p>
        Diante deste início tumultuoso, só me resta desejar uma boa leitura.
      </p>

      <p>
        <strong>Boa leitura!</strong>
      </p>

      <Footer />
    </main>
  </body>
</html>
