---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title="HQ" description={SITE_DESCRIPTION} />
    <style>
      .comic-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        justify-items: center;
        margin: 2rem 0;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
      .comic-version {
        text-align: center;
      }
      .comic-version img {
        max-width: 40%;
        height: auto;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <h1>sobre</h1>
      <p>
        Embora as semelhanças com a vida real não sejam mera coincidência, esta
        é uma obra de ficção, na qual nem os fatos são verdade.
      </p>
      <p>
        A tipografia usada na versão original é a Lula Borges para diálogos e
        descrições, e Baskerville para os títulos dos capítulos e informações
        extra-obra.
      </p>
      <p>
        A tipografia usada na versão com acessibilidade para baixa visão
        Atkinson Hyperlegible Next, com espaçamento entre linhas de 1,5. Todas
        as páginas dessa versão contêm o texto também como metadado para ser
        lidos por softwares de Text To Speech.
      </p>
      <p>A tipografia usada no site é Atkinson Hyperlegible.</p>
      <h1>incentivo</h1>
      <p>
        Este projeto foi contemplado nos Editais da Lei Paulo Gustavo Pernambuco
        e tem apoio financeiro do Governo do Estado de Pernambuco, através da
        Secretaria de Cultura do Estado via Lei Paulo Gustavo, direcionada pelo
        Ministério da Cultura Governo Federal.
        <img src="/paulo_gustavo_logo.png" />
      </p>
      <h1>apoio</h1>
      <p>
        Este projeto teve apoio de impressão do Laboratório de Práticas Gráficas
        (LPG) da Universidade Federal de Pernambuco.
        <div class="comic-version">
          <img src="/praticas_graficas_logo.png" />
        </div>
      </p>
      <h1>site</h1>
      <p>
        Este site foi produzido por André Valença, utilizando o framework Astro.
      </p>
      <p>
        O leitor de quadrinhos é uma adaptação do código <a
          href="https://afzafri.github.io/Web-Comic-Reader/"
          target="_blank">Web Comic Reader</a
        >, de Afif Zafri, disponível no <a
          href="https://github.com/afzafri/Web-Comic-Reader"
          target="_blank">Github</a
        >.
      </p>
      <p>MIT License</p>
      <p>Copyright (c) 2017 Afif Zafri</p>
      <p>
        Permission is hereby granted, free of charge, to any person obtaining a
        copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions: The above copyright notice and this permission
        notice shall be included in all copies or substantial portions of the
        Software.
      </p>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
